mixin side-bar__post-description(modifier)
  if modifier["description"] == undefined
    - modifier["description"] = "empty__description";
  p.side-bar__post-description&attributes(attributes)!=modifier.description
