mixin header__presentation(modifier)
  .header__presentation&attributes(attributes)
    .container
      +header__logo(modifier)
      +header__sandwich-ico-container(modifier)
      +header__promotion(modifier)
      +header__phone-numbers(modifier)