mixin side-bar__posts(modifier)
  if modifier["posts"] == undefined
    - modifier["posts"] = [{}];
  ul.side-bar__posts&attributes(attributes)
    each post in modifier.posts
      if post["modifer"] == undefined
        - post["modifer"] = "";
      +side-bar__post(post)(class=post.modifier)
