mixin content-screen__business-title(modifier)
  if modifier["title"] == undefined
    - modifier["title"] = "empty__title";
  h4.content-screen__business-title&attributes(attributes)!=modifier.title
