mixin content-screen__content(modifier)
  article.content-screen__content&attributes(attributes)
    +content-screen__content-title(modifier)
    +content-screen__content-description(modifier)
    +content-screen__our-businesses-section(modifier)