.content-screen__businesses {
  display: flex;
  justify-content: space-between;
  padding-right: 3px;
  @media (max-width: $md - 1px){
    flex-wrap: wrap;
    padding-right: 0px;
  }
  @media (max-width: $sm - 1px){
    flex-direction: column;
  }
}
