include __title/side-bar__title.pug
include __archive/side-bar__archive.pug
include __post-description/side-bar__post-description.pug
include __post-title/side-bar__post-title.pug
include __post/side-bar__post.pug
include __posts/side-bar__posts.pug
mixin side-bar(modifier)
  .side-bar&attributes(attributes)
