@import '__to-archive/side-bar__to-archive';
@import '__title/side-bar__title';
@import '__archive/side-bar__archive';
@import '__post-description/side-bar__post-description';
@import '__post-title/side-bar__post-title';
@import '__post/side-bar__post';
@import '__posts/side-bar__posts';
.side-bar {
  background-color: $side-bar--BGColor;
  padding-top: 11px;
  padding-right: 55px;
  padding-left: 34px;
  box-sizing: border-box;
  color: $side-bar--Color;
  padding-bottom: 30px;
}
