.footer__navigation-item {
  margin-bottom: 3px;
  @media (max-width: $md - 1px){
    text-align: center;
  }
  &:last-child{
    margin-bottom:0px;
  }
  a{
    @include linkBehaviour($footer--Color);
  }
}
