@import '__sandwich-ico/header__sandwich-ico';
@import '__sandwich-ico-container/header__sandwich-ico-container';
@import '__logo-pic/header__logo-pic';
@import '__logo-description/header__logo-description';
@import '__logo-title/header__logo-title';
@import '__navigation-item/header__navigation-item';
@import '__navigation/header__navigation';
@import '__phone-number/header__phone-number';
@import '__phone-numbers/header__phone-numbers';
@import '__promotion/header__promotion';
@import '__logo/header__logo';
@import '__presentation/header__presentation';
.header {
  background:$header--BGColor;
  color: $header--Color;
  width: 100%;
  flex-wrap: wrap;
  padding-top: 45px;
  @media (max-width: $md - 1px){
    padding-top: 20px;
  }
}
