mixin content-screen__businesses-section-title(modifier)
  if modifier["businessesTitle"] == undefined
    - modifier["businessesTitle"] = "empty__businessesSectionTitle";
  h3.content-screen__businesses-section-title&attributes(attributes)!=modifier.businessesTitle
