/* no sense variables */
$inherit: inherit;
$transparent: transparent;
$white: #ffffff;
$black: #000000;

$gray: #dcdcdc;
$gray-darker: #767676;
$gray-darkest: #777777;

/* variables with sense */
/* *********************************************************************** */
$header-background-color: $gray;
$header-color: $gray-darkest;
