/* общие стили */
@import "../../styles/allCommonStyles";

/* Стили блоков */
@import '../../blocks/header/header';


body {
  font-family: 'Open Sans', sans-serif;
  background-color: $white;
  display: flex;
  font-size: 15px;
  @media (max-width: $md - 1px){
    flex-direction: column;
  }

  main{
    flex-grow: 1;
    @media (max-width: $md - 1px){
      padding-top: 70px
    }
  }
}
