include ../../blocks/favicon/favicon.pug
include ../../blocks/header/header.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title George Semenov portfolio
    //-В папке build будет лежать файл фавикона, строка которая находится ниже позволит подцепить этот файл
    +favicon()
  body
    +header({
      title: 'НАЗВАНИЕ КОМПАНИИ',
      description: 'Самая крутая компания!',
      promotion: 'Распродажа до 15.02.16!',
      phones: [
        {
          number: "+73432525252", 
          display: "+7 (343) 252-52-52"
        },
        {
          number: "+73432525252", 
          display: "+7 (343) 252-52-52"
        }
      ],
      navItems:[
        {text: "Главная"},
        {text: "Каталог"},
        {text: "Доставка и оплата"},
        {text: "Прайс-лист"},
        {text: "Контакты"}
      ]
    })
    main

      //-
        Все иконки были скачаны с ресурса - flaticon.com 