include ../../blocks/favicon/favicon.pug
include ../../blocks/header/header.pug
include ../../blocks/slider-screen/slider-screen.pug
include ../../blocks/content-screen/content-screen.pug
include ../../blocks/footer/footer.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title shneider-consult test
    +favicon()
  body
    +header({
      title: 'НАЗВАНИЕ КОМПАНИИ',
      description: 'Самая крутая компания!',
      promotion: 'Распродажа до 15.02.16!',
      phones: [
        {
          number: "+73432525252", 
          display: "+7 (343) 252-52-52"
        },
        {
          number: "+73432525252", 
          display: "+7 (343) 252-52-52"
        }
      ],
      navItems:[
        {text: "Главная"},
        {text: "Каталог"},
        {text: "Доставка и оплата"},
        {text: "Прайс-лист"},
        {text: "Контакты"}
      ]
    })
    main
      +slider-screen({
        slides:[
          {
            name:'mountan_orig',
            desc: 'Горы'
          },
          {
            name:'mountan_WC',
            desc: 'Горы обрезаны по ширине'
          },
          {
            name:'mountan_WA',
            desc: 'Горы увеличенны по ширине'
          },
          {
            name:'mountan_HC',
            desc: 'Горы обрезаны по высоте'
          }
        ]
      })
      +content-screen({
        title:"Компания «Шнайдер Консалт»",
        paragraphs: [
          {
            text: "Мы экс&#173;пер&#173;ты в за&#173;пус&#173;ке ин&#173;тер&#173;нет-ма&#173;га&#173;зи&#173;нов то&#173;ва&#173;ров для до&#173;ма, стро&#173;и&#173;тельства и ре&#173;мон&#173;та. Сов&#173;мест&#173;ный опыт на&#173;шей ко&#173;ман&#173;ды в раз&#173;ви&#173;тии и про&#173;дви&#173;же&#173;нии про&#173;ек&#173;тов в сфе&#173;ре элек&#173;трон&#173;ной тор&#173;гов&#173;ли бо&#173;лее 15 лет."
          },
          {
            text: "Мы со&#173;з&#173;да&#173;ли на&#173;деж&#173;ную тех&#173;но&#173;ло&#173;гию, ко&#173;то&#173;рая поз&#173;во&#173;ля&#173;ет быст&#173;ро и уве&#173;ре&#173;но вы&#173;во&#173;дить ин&#173;тер&#173;нет-ма&#173;га&#173;зи&#173;ны на про&#173;да&#173;жи и са&#173;мо&#173;о&#173;ку&#173;па&#173;е&#173;мость. Ес&#173;ли мы бе&#173;рем&#173;ся за про&#173;ект, зна&#173;чит уве&#173;ре&#173;ны в до&#173;сти&#173;же&#173;нии биз&#173;нес ре&#173;зульта&#173;тов для на&#173;ших кли&#173;ентов."
          }
        ],
        businessesTitle: "Чем мы занимаемся?",
        businesses:[
          {
            title:"Только то&#173;ва&#173;ры для до&#173;ма, стро&#173;и&#173;тельства и ре&#173;мон&#173;та.",
            description: "Нель&#173;зя оди&#173;на&#173;ко&#173;во хо&#173;ро&#173;шо раз&#173;би&#173;рать&#173;ся во всех от&#173;рас&#173;лях рын&#173;ка. Поэто&#173;му мы ра&#173;бо&#173;та&#173;ем на тех сек&#173;то&#173;рах рын&#173;ка, на ко&#173;то&#173;ром име&#173;ем боль&#173;шой опыт и раз&#173;би&#173;ра&#173;ем&#173;ся луч&#173;ше всего. И это га&#173;ран&#173;ти&#173;ру&#173;ет ре&#173;зультат на&#173;шим кли&#173;ен&#173;там."
          },
          {
            title:"Строим комплексный маркетинг и продажи.",
            description: "Мы не делаем просто сайты. Не занимаемся просто продвижением. Это не принесет результаты.</br>Только комплексный маркетинг и и система продаж могут принести вам доходы и прибыль."
          },
        ],
        sideBar:{
          title: "Новости",
          posts: [
            {
              title:"14 сентября 2015 г.",
              description: "Акция на входные двери Фалько!"
            },
            {
              title:"14 сентября 2015 г.",
              description: "Установка межкомнатных дверей в подарок при покупке 3-х полотен!"
            },
            {
              title:"14 сентября 2015 г.",
              description: "Новинка! Термо двери Форт !"
            },
            {
              title:"14 сентября 2015 г.",
              description: "Установка межкомнатных дверй в подарок при покупке 3-х полотен!"
            },
            {
              title:"14 сентября 2015 г.",
              description: "Новинка! Термо двери Форт !"
            },
          ]
        }
      })
    +footer({
      rights: "© 2012–2016 ЗАО «Компания» info@name.ru",
      navItems: [
        {text: "Главная"},
        {text: "Каталог"},
        {text: "Доставка и оплата"},
        {text: "Прайс-лист"},
        {text: "Контакты"}
      ],
      signLink:{text:"Разработка сайта"},
      signText:"— компания «Шнайдер Консалт»"
    })
      //-
        Все иконки были скачаны с ресурса - flaticon.com 