include ../../blocks/favicon/favicon.pug
//- include ../../blocks/navigation/navigation.pug
//- include ../../blocks/greetings-screen/greetings-screen.pug
//- include ../../blocks/my-person-screen/my-person-screen.pug
//- include ../../blocks/skills-and-services-screen/skills-and-services-screen.pug
//- include ../../blocks/portfolio-screen/portfolio-screen.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title George Semenov portfolio
    //-В папке build будет лежать файл фавикона, строка которая находится ниже позволит подцепить этот файл
    +favicon()
  body
      //-
        Все иконки были скачаны с ресурса - flaticon.com 