include ../../blocks/favicon/favicon.pug
include ../../blocks/header/header.pug
include ../../blocks/slider-screen/slider-screen.pug
include ../../blocks/content-screen/content-screen.pug
doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    title George Semenov portfolio
    +favicon()
  body
    +header({
      title: 'НАЗВАНИЕ КОМПАНИИ',
      description: 'Самая крутая компания!',
      promotion: 'Распродажа до 15.02.16!',
      phones: [
        {
          number: "+73432525252", 
          display: "+7 (343) 252-52-52"
        },
        {
          number: "+73432525252", 
          display: "+7 (343) 252-52-52"
        }
      ],
      navItems:[
        {text: "Главная"},
        {text: "Каталог"},
        {text: "Доставка и оплата"},
        {text: "Прайс-лист"},
        {text: "Контакты"}
      ]
    })
    main
      +slider-screen({
        slides:[
          {
            name:'mountan_orig',
            desc: 'Горы'
          },
          {
            name:'mountan_WC',
            desc: 'Горы обрезаны по ширине'
          },
          {
            name:'mountan_WA',
            desc: 'Горы увеличенны по ширине'
          },
          {
            name:'mountan_HC',
            desc: 'Горы обрезаны по высоте'
          }
        ]
      })
      +content-screen({
        title:"Компания «Шнайдер Консалт»",
        description: "Мы эксперты в запуске интернет магазинов",
        businessesTitle: "Чем мы занимаемся?",
        businesses:[
          {
            title:"Только товары для дома, строительства и ремонта.",
            description: "Нельзя одинаково хорошо разбираться во всех"
          },
          {
            title:"Строим комплексный маркетинг и продажи.",
            description: "Мы не делаем просто сайты. Не занимаемся просто"
          },
        ],
        sideBar:{
          title: "Новости",
          posts: [
            {
              title:"14 сентября 2015 г.",
              description: "Акция на входные двери Фалько!"
            },
            {
              title:"14 сентября 2015 г.",
              description: "Установка межкомнатных дверей в подарок при покупке 3-х полотен!"
            },
            {
              title:"14 сентября 2015 г.",
              description: "Новинка! Термо двери Форт !"
            },
            {
              title:"14 сентября 2015 г.",
              description: "Установка межкомнатных дверй в подарок при покупке 3-х полотен!"
            },
            {
              title:"14 сентября 2015 г.",
              description: "Новинка! Термо двери Форт !"
            },
          ]
        }
      })
      //-
        Все иконки были скачаны с ресурса - flaticon.com 