.header__logo {
  display: grid;
  grid-template-columns: 102px 200px;
  grid-template-rows: repeat(2,auto);
  grid-template-areas:  "pic title"
                        "pic desc";
  column-gap: 20px;
  row-gap: 3px;

  @media (max-width: $md - 1px){
    grid-template-columns: 102px 0px;
  }
}
