.footer__rights {
  width: 220px;
  margin-right: 130px;
  @media (max-width: $lg - 1px){
    margin-right: 0px;
  }
  @media (max-width: $md - 1px){
    text-align: center;
    margin-bottom: 20px;
  }
}
