mixin header__navigation(modifier)
  if modifier["navItems"] == undefined
    - modifier["navItems"] = [{}];
  nav.header__navigation&attributes(attributes)
    .container
      ul
        each item in modifier.navItems
          if item["modifier"] == undefined
            - item["modifier"] = '';
          +header__navigation-item(item)(class=item.modifier)