include __businesses-section-title/content-screen__businesses-section-title.pug
include __business-description/content-screen__business-description.pug
include __business-title/content-screen__business-title.pug
include __business/content-screen__business.pug
include __businesses/content-screen__businesses.pug
include __our-businesses-section/content-screen__our-businesses-section.pug
include __content-description/content-screen__content-description.pug
include __content-title/content-screen__content-title.pug
include __content/content-screen__content.pug
mixin content-screen(modifier)
  section.content-screen&attributes(attributes)
