mixin content-screen__business-description(modifier)
  if modifier["description"] == undefined
    - modifier["description"] = "empty__businessDescription";
  p.content-screen__business-description&attributes(attributes)!=modifier.description
