@import '__sign-text/footer__sign-text';
@import '__sign-link/footer__sign-link';
@import '__sign/footer__sign';
@import '__navigation-item/footer__navigation-item';
@import '__navigation/footer__navigation';
@import '__rights/footer__rights';
.footer {
  background-color: $footer--BGColor;
  color: $footer--Color;
  padding-top: 45px;
  padding-bottom: 45px;
  .container{
    @media (max-width: $lg - 1px){
      justify-content: space-between;
    }
    @media (max-width: $md - 1px){
      flex-direction: column;
      align-items: center;
    }
  }
}
