.header__sandwich-ico-container {
  width: 25px;
  height: 16px;
  position: relative;
  display: block;
  margin-bottom: 11px;
  flex-shrink: 0;
  cursor: pointer;
  @media (min-width: $md){
    display: none;
  }
}
