.header__sandwich-ico-container {
  width: 50px;
  height: 32px;
  position: relative;
  display: block;
  flex-shrink: 0;
  cursor: pointer;
  top: 30px;
  right: 20px;
  @media (min-width: $md){
    display: none;
  }
}
