.content-screen__content-title {
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0.3px;
  margin-bottom: 29px;
  @media (max-width: $md - 1px){
    line-height: 25px;
    font-size: 30px;
    text-align: center;
  }
}
