mixin content-screen__content-title(modifier)
  if modifier["title"] == undefined
    - modifier["title"] = "empty__content-title";
  h2.content-screen__content-title&attributes(attributes)!=modifier.title
